@model IEnumerable<Bislerium.Domain.Entity.History.CommentHistory>

@{
    Layout = "_Admin";
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Comment Detail of @Model?.FirstOrDefault()?.Comment?.Content</h5>

    </div>
    <div class="card-body">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Content)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
