@using Week21.Domain
@model LoginUser
@{
    Layout = "_Login";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<style>
    .login {
        min-height: 100vh;
    }

    .bg-image {
        background-image: url('@Url.Content("~/images/statics/login.jpg")');
        background-size: cover;
        background-position: center;
    }

    .login-heading {
        font-weight: 300;
    }

    .btn-login {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        padding: 0.75rem 1rem;
    }
</style>


<div class="container-fluid ps-md-0">
    <div class="row g-0">
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="text-center fw-bolder">Sign In</h3>
                            <!-- Sign In Form -->
                            <form asp-action="Login" asp-controller="Account">

                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <label for="floatingInput">Email address</label>
                                </div>
                                <div class="form-floating mb-3 position-relative">
                                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" asp-for="Password">
                                    <button type="button" id="togglePassword" class="btn position-absolute me-1 end-0 top-50 translate-middle-y">
                                        <i class="bi bi-eye-slash"></i>
                                    </button>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                    <label for="floatingPassword">Password</label>
                                </div>

                                <div class="d-grid">
                                    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Sign In</button>
                                    <div class="text-center">
                                        <p class="mt-3 mb-2" style="color: #393f81;">
                                            Forgot Password?
                                            <a asp-controller="Account" asp-action="ResetPassword" style="color: #393f81;">Reset Password</a>
                                        </p>
                                        <p class="mt-3 mb-2" style="color: #393f81;">
                                            Already have an account?
                                            <a asp-controller="Account" asp-action="Register" style="color: #393f81;">Signup here</a>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#togglePassword').click(function () {
            const passwordInput = $('#floatingPassword');
            const passwordFieldType = passwordInput.attr('type');
            if (passwordFieldType === 'password') {
                passwordInput.attr('type', 'text');
                $('#togglePassword i').removeClass('bi-eye-slash').addClass('bi-eye');
            } else {
                passwordInput.attr('type', 'password');
                $('#togglePassword i').removeClass('bi-eye').addClass('bi-eye-slash');
            }
        });
    });
</script>
