@using Bislerium.Domain.ViewModels
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}

<div class="container">
    <div class="row m-2">
        <div class="col">
            <div class="justify-content-center align-items-center border shadow p-5">
                <h2 class="text-center fw-bold">@ViewData["Title"]</h2>

                <form asp-controller="Account" asp-action="ResetPasswordConfirm" method="post">
                    <input type="" value="@ViewBag.Email" asp-for="Email" />
                    <input type="" value="@ViewBag.Token" asp-for="Token" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-2">
                        <label asp-for="NewPassword"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="CNewPassword"></label>
                        <input asp-for="CNewPassword" class="form-control" />
                        <span asp-validation-for="CNewPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

