@using System.Security.Claims
@using Week21.Domain
@model ChangePasswordVM

@{
    Layout = "_Profile";
}

<div class="container">
    <div id="changePassword" class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Edit Password</h5>

            <form asp-action="ChangePassword" asp-controller="Profile" method="post">
                <input name="userId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier).ToString()" hidden />
                <div class="mb-3">
                    <label for="OldPassword" class="form-label">Old Password</label>
                    <input type="password" id="OldPassword" name="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="NewPassword" class="form-label">New Password</label>
                    <input type="password" id="NewPassword" name="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="CNewPassword" class="form-label">Confirm New Password</label>
                    <input type="password" id="CNewPassword" name="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
        </div>
    </div>
</div>
